// _custom.scss

// Override Bootstrap's default color palette
$primary: #102E50;
$secondary: #2c3f50;
$success: #2f7f41;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
$light: #f8f9fa;
$dark: #343a40;

// You can also create new custom color variables
$my-custom-blue: #abcdef;
$my-accent-green: #fedcba;